
    body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("https://source.unsplash.com/random/1920x1080") !important;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    border-radius: 30px;
    padding: 10px;
    }
